@model N01521496_C1_w22.Models.TeacherObject
@{
    ViewBag.Title = "Show";
}

<section id="teacherDetails">
    <h6>Details of teacher with id @Model.TeacherId</h6>
    <p>Full Name: @Model.TeacherFname @Model.TeacherLname</p>
    <p>Employee No.: @Model.EmployeeNumber</p>
    <p>Hire Date: @Model.HireDate</p>
    <p>Salary: @Model.Salary</p>
    <form action="/TeacherDisplay/DeleteConfirm/@Model.TeacherId" method="get">
        <button type="submit" class="deleteT">Delete</button>
    </form>
</section>

