@model N01521496_C1_w22.Models.TeacherObject
@{
    ViewBag.Title = "Show";
}

<section id="teacherDetails">
    <h6>Details of teacher with id @Model.TeacherId</h6>
    <p>Full Name: @Model.TeacherFname @Model.TeacherLname</p>
    <p>Employee No.: @Model.EmployeeNumber</p>
    <p>Hire Date: @Model.HireDate</p>
    <p>Salary: @Model.Salary</p>
    <div class="forms_on_show">
        <form action="/TeacherDisplay/DeleteConfirm/@Model.TeacherId" method="get">
            <button type="submit" class="deleteT">Delete</button>
        </form>
        <form action="/TeacherDisplay/Edit/@Model.TeacherId" method="get">
            <button type="submit" class="deleteT">Edit</button>
        </form>
    </div>
</section>

